*{
    box-sizing: border-box;
}
@media (max-width: 800px) {
body{
    margin: 0;
    padding: 0;
    background-color: #333;
    color: orange;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: orange;
}

.brand{
    font-size: 2.5rem;
    margin: 0.5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;   
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: orange;
    padding: 1rem;
    display: block;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
  }
  
  figcaption {
    background-color: black;
    color: orange;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  .container {
      display:flex;

  }

  h1 {
      text-align: center;
    }

    #imgs { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        
    }
    form {
        text-align: center;
    }

    .footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        height: 40px;
        color: white;
        text-align: left;
      }
      #content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
      }
    }

    @media(min-width: 800px){
        body{
            margin: 0;
            padding: 0;
            background-color: #333;
            color: orange;
        }
        
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            color: orange;
        }
        
        .brand{
            font-size: 2.5rem;
            margin: 0.5rem;
        }
        
        .navbar-links ul{
            margin: 0;
            padding: 0;
            display: flex;   
        }
        
        .navbar-links li{
            list-style: none;
        }
        
        .navbar-links li a{
            text-decoration: none;
            color: orange;
            padding: 1rem;
            display: block;
        }
        
        figure {
            border: 1px #cccccc solid;
            padding: 4px;
            margin: auto;
          }
          
          figcaption {
            background-color: black;
            color: orange;
            font-style: italic;
            padding: 2px;
            text-align: center;
          }
        
          .container {
              display:flex;
        
          }
        
          h1 {
              text-align: center;
            }
        
            #imgs { 
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 35%;
                
            }
            form {
                text-align: center;
            }
        
            .footer {
                position: fixed;
                padding: 10px 10px 0px 10px;
                bottom: 0;
                width: 100%;
                height: 40px;
                color: white;
                text-align: left;
              }
              /* #content {
                display: inline-grid;
                grid-template-columns: repeat(2, [col-start] 1fr);
                grid-gap: 40px;
              } */



            }

    


  